# PHPUnit
/phpunit.xml
.phpunit.result.cache

# composer
/composer.phar
/composer.lock
/auth.json
/vendor

# IDEs
.idea/*
*.iml
*~

# System files
.DS_Store

# tests
Tests/Application/var
Tests/Application/.env.local
Tests/Application/.env.*.local

# php-cs-fixer
.php_cs.cache
.php-cs-fixer.cache

# npm
package-lock.json
node_modules/
build/
