parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$filters of method Sulu\\\\Bundle\\\\AdminBundle\\\\SmartContent\\\\SmartContentProviderInterface\\:\\:findFlatBy\\(\\) expects array\\{categories\\: array\\<int\\>, categoryOperator\\: 'AND'\\|'OR', websiteCategories\\: array\\<string\\>, websiteCategoryOperator\\: 'AND'\\|'OR', tags\\: array\\<int\\>, tagOperator\\: 'AND'\\|'OR', websiteTags\\: array\\<string\\>, websiteTagOperator\\: 'AND'\\|'OR', \\.\\.\\.\\}, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: Content/DataProviderResolver/AccountDataProviderResolver.php

		-
			message: "#^Parameter \\#1 \\$filters of method Sulu\\\\Bundle\\\\AdminBundle\\\\SmartContent\\\\SmartContentProviderInterface\\:\\:findFlatBy\\(\\) expects array\\{categories\\: array\\<int\\>, categoryOperator\\: 'AND'\\|'OR', websiteCategories\\: array\\<string\\>, websiteCategoryOperator\\: 'AND'\\|'OR', tags\\: array\\<int\\>, tagOperator\\: 'AND'\\|'OR', websiteTags\\: array\\<string\\>, websiteTagOperator\\: 'AND'\\|'OR', \\.\\.\\.\\}, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: Content/DataProviderResolver/ArticleDataProviderResolver.php

		-
			message: "#^Parameter \\#1 \\$filters of method Sulu\\\\Bundle\\\\AdminBundle\\\\SmartContent\\\\SmartContentProviderInterface\\:\\:findFlatBy\\(\\) expects array\\{categories\\: array\\<int\\>, categoryOperator\\: 'AND'\\|'OR', websiteCategories\\: array\\<string\\>, websiteCategoryOperator\\: 'AND'\\|'OR', tags\\: array\\<int\\>, tagOperator\\: 'AND'\\|'OR', websiteTags\\: array\\<string\\>, websiteTagOperator\\: 'AND'\\|'OR', \\.\\.\\.\\}, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: Content/DataProviderResolver/ArticlePageTreeDataProviderResolver.php

		-
			message: "#^Parameter \\#1 \\$filters of method Sulu\\\\Bundle\\\\AdminBundle\\\\SmartContent\\\\SmartContentProviderInterface\\:\\:findFlatBy\\(\\) expects array\\{categories\\: array\\<int\\>, categoryOperator\\: 'AND'\\|'OR', websiteCategories\\: array\\<string\\>, websiteCategoryOperator\\: 'AND'\\|'OR', tags\\: array\\<int\\>, tagOperator\\: 'AND'\\|'OR', websiteTags\\: array\\<string\\>, websiteTagOperator\\: 'AND'\\|'OR', \\.\\.\\.\\}, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: Content/DataProviderResolver/ContactDataProviderResolver.php

		-
			message: "#^Parameter \\#1 \\$filters of method Sulu\\\\Bundle\\\\AdminBundle\\\\SmartContent\\\\SmartContentProviderInterface\\:\\:findFlatBy\\(\\) expects array\\{categories\\: array\\<int\\>, categoryOperator\\: 'AND'\\|'OR', websiteCategories\\: array\\<string\\>, websiteCategoryOperator\\: 'AND'\\|'OR', tags\\: array\\<int\\>, tagOperator\\: 'AND'\\|'OR', websiteTags\\: array\\<string\\>, websiteTagOperator\\: 'AND'\\|'OR', \\.\\.\\.\\}, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: Content/DataProviderResolver/MediaDataProviderResolver.php

		-
			message: "#^Parameter \\#1 \\$filters of method Sulu\\\\Bundle\\\\AdminBundle\\\\SmartContent\\\\SmartContentProviderInterface\\:\\:findFlatBy\\(\\) expects array\\{categories\\: array\\<int\\>, categoryOperator\\: 'AND'\\|'OR', websiteCategories\\: array\\<string\\>, websiteCategoryOperator\\: 'AND'\\|'OR', tags\\: array\\<int\\>, tagOperator\\: 'AND'\\|'OR', websiteTags\\: array\\<string\\>, websiteTagOperator\\: 'AND'\\|'OR', \\.\\.\\.\\}, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: Content/DataProviderResolver/PageDataProviderResolver.php

		-
			message: "#^Parameter \\#1 \\$filters of method Sulu\\\\Bundle\\\\AdminBundle\\\\SmartContent\\\\SmartContentProviderInterface\\:\\:findFlatBy\\(\\) expects array\\{categories\\: array\\<int\\>, categoryOperator\\: 'AND'\\|'OR', websiteCategories\\: array\\<string\\>, websiteCategoryOperator\\: 'AND'\\|'OR', tags\\: array\\<int\\>, tagOperator\\: 'AND'\\|'OR', websiteTags\\: array\\<string\\>, websiteTagOperator\\: 'AND'\\|'OR', \\.\\.\\.\\}, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: Content/DataProviderResolver/SnippetDataProviderResolver.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\ExtensionResolver\\\\ExcerptResolver\\:\\:getExcerptTaxonomyData\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/ExtensionResolver/ExcerptResolver.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\ExtensionResolver\\\\ExcerptResolver\\:\\:resolve\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/ExtensionResolver/ExcerptResolver.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\ExtensionResolver\\\\ExtensionResolverInterface\\:\\:resolve\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/ExtensionResolver/ExtensionResolverInterface.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\ExtensionResolver\\\\SeoResolver\\:\\:resolve\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/ExtensionResolver/SeoResolver.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\StructureResolver\\:\\:buildAttributes\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/StructureResolver.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\StructureResolver\\:\\:resolve\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/StructureResolver.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\StructureResolver\\:\\:resolveExtensionProperties\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/StructureResolver.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\StructureResolver\\:\\:resolveExtensions\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/StructureResolver.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\StructureResolver\\:\\:resolveProperties\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/StructureResolver.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\StructureResolverInterface\\:\\:resolve\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/StructureResolverInterface.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\StructureResolverInterface\\:\\:resolveProperties\\(\\) has parameter \\$dimensionContent with generic interface Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface but does not specify its types\\: T$#"
			count: 1
			path: Content/StructureResolverInterface.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Tests\\\\Unit\\\\Content\\\\ExtensionResolver\\\\ExcerptResolverTest\\:\\:createExcerptDimensionContent\\(\\) return type with generic class Prophecy\\\\Prophecy\\\\ObjectProphecy does not specify its types\\: T$#"
			count: 1
			path: Tests/Unit/Content/ExtensionResolver/ExcerptResolverTest.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Tests\\\\Unit\\\\Content\\\\ExtensionResolver\\\\ExcerptResolverTest\\:\\:createTaxonomyDimensionContent\\(\\) return type with generic class Prophecy\\\\Prophecy\\\\ObjectProphecy does not specify its types\\: T$#"
			count: 1
			path: Tests/Unit/Content/ExtensionResolver/ExcerptResolverTest.php

		-
			message: "#^Parameter \\#1 \\$dimensionContent of method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\ExtensionResolver\\\\ExcerptResolver\\:\\:resolve\\(\\) expects Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface, object given\\.$#"
			count: 8
			path: Tests/Unit/Content/ExtensionResolver/ExcerptResolverTest.php

		-
			message: "#^Method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Tests\\\\Unit\\\\Content\\\\ExtensionResolver\\\\SeoResolverTest\\:\\:createSeoDimensionContent\\(\\) return type with generic class Prophecy\\\\Prophecy\\\\ObjectProphecy does not specify its types\\: T$#"
			count: 1
			path: Tests/Unit/Content/ExtensionResolver/SeoResolverTest.php

		-
			message: "#^Parameter \\#1 \\$dimensionContent of method Sulu\\\\Bundle\\\\HeadlessBundle\\\\Content\\\\ExtensionResolver\\\\SeoResolver\\:\\:resolve\\(\\) expects Sulu\\\\Content\\\\Domain\\\\Model\\\\DimensionContentInterface, object given\\.$#"
			count: 7
			path: Tests/Unit/Content/ExtensionResolver/SeoResolverTest.php
