<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="Tests/test-bootstrap.php">
   <testsuites>
        <testsuite name="Sulu Headless Bundle">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="KERNEL_CLASS" value="Sulu\Bundle\HeadlessBundle\Tests\Application\Kernel"/>
        <env name="APP_ENV" value="test" force="true"/>
    </php>

    <source>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>Resources/</directory>
            <directory>Tests/</directory>
            <directory>vendor/</directory>
        </exclude>
    </source>
</phpunit>
